html{
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
    /* font-weight: 700; */
    margin: 0;
    padding: 0;
    background-color: black;
    scroll-behavior: smooth;
}
.navbar{
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    /* display:flex; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    padding:0px ;

    align-items: center;
}
.navbar-brand a{
    text-decoration: none;
    font-size: 24px;
    color: black;
    padding-left: 7vw;
    font-weight: 700;
    /* padding-top; */
    /* padding: ; */
}
.navbar-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.dropdown-menu{
    list-style: inherit;
    padding-top: 5px;
    cursor: pointer;   
    /* display:none; */
    position:sticky;
    background-color: white;

}

.navbar-nav a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding-inline: 10px 50px;
    font-weight: 200;
    font-size: medium;
    
}
.hero-header-section {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    /* background-color: black; */


}
.hero-header-section video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    opacity:0.5;
}

.hero-content{


    display: flex;
    justify-content: center;
    align-items: center;     
    text-align: center;


}
.hub-header{
    color: white;
    font-size: 100px;
    font-weight: 800;
}
.hero-content-para{
    color: white;
    font-size: 100%;
    font-weight: 200;
    margin: 100px;

}
@media only screen and (max-width: 400px) {
    .hero-content-para {
      /* background-color: lightblue; */
      font-size: 80%;
    }
  }
.games-title{
    /* background-color: white; */
    text-align: center;
    color: rgb(215, 215, 215);
    font-size: 7vw;
    margin-top: 50px;
    font-weight: 500;
    text-shadow: 1px 2px 3px #ffffff;

    margin-top: 30px;
    margin-bottom: 5vh;

}
.game-top-3{
    display: flex;
    justify-content:center;
    padding: 0px;
    margin-top: 0px;

    /* margin: 20px; */
    /* flex-direction: row; */
    /* align-items: center; */
    perspective: 1000px;
}
:root{
    --image-width:10vw;
}

.gtaimg{
    will-change: transform;
    width: var(--image-width);
    height: auto;
    margin: 3vw;
    margin-bottom: 0px;
    transition: transform 0.2s ease-in-out;
    transform-style: preserve-3d;
    box-shadow:
    0 0 10px rgba(255, 227, 182, 0.5),
    0 0 20px rgba(194, 177, 135, 0.4),
    0 0 30px rgba(146, 136, 101, 0.3),
    0 0 40px rgba(157, 140, 111, 0.2),
    0 0 50px rgba(77, 71, 55, 0.1);
    ;
    /* image */
}


.game-bottom-2{
    display: flex;
    justify-content: center;
    /* padding: 20px; */
    margin-bottom: 30px;
    transform-style: preserve-3d;
    
}
.game-bottom-2 img{
    width: var(--image-width);
    height: auto;
    margin: 3vw;
    transition: transform 0.2s ease-in-out;
    
    /* margin-top: px; */
    
    
}
#btlfldimg{
    box-shadow:
    0 0 10px rgba(182, 209, 255, 0.5),
    0 0 20px rgba(135, 146, 194, 0.4),
    0 0 30px rgba(101, 113, 146, 0.3),
    0 0 40px rgba(111, 115, 157, 0.2),
    0 0 50px rgba(55, 55, 77, 0.1);
    ;
}
#fctrimg{
    box-shadow:
    0 0 10px rgba(255, 182, 182, 0.5),
    0 0 20px rgba(194, 135, 135, 0.4),
    0 0 30px rgba(146, 101, 101, 0.3),
    0 0 40px rgba(157, 111, 111, 0.2),
    0 0 50px rgba(77, 55, 55, 0.1);
    ;
}
#gta-sa-content{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
    background-color: rgb(67, 67, 67);
    height: auto;
    background-image:url(assets/gta-sa/gta\ sa\ bg.jpg);
    background-color: rgb(179, 179, 179);
    background-blend-mode:overlay;
    background-size: cover;
    
}
.gta-sa-content-section{
    margin-top: 100px ;
}
:root{
    --margin-left-for-content:3vw;
    --margin-right-for-content:4vw;
}
.gta-sa-content-section p{
    color: rgb(0, 0, 0);
    font-weight: 300;
    margin: 40px;
    margin-left: var(--margin-left-for-content);
    margin-right: var(--margin-left-for-content);
}
.gta-sa-content-section h1{
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin: 0px;
    font-size: 5vw;
    margin-left:var(--margin-left-for-content);
    /* position: ab; */
    /* text-align: center; */
}
:root{
    --sqdim:34vw
}
#gta-sa-content img{

    width: var(--sqdim);
    height: var(--sqdim);
    border-color: white;
    border-width: 10px;
    border-style: solid;
    margin-right: 80px;
    margin-bottom: 80px;
    margin-top: 80px;

    
}

#gta4-content{
    display: flex;
    justify-content: center;
    

    height: auto;
    background-image:url(assets/GTA-4/gta4-bg-image.jpg);
    background-color: rgb(193, 193, 193);
    background-blend-mode:overlay;
    background-size: cover;
    background-position: center; 
    /* background-attachment:; */
}

#gta4-content img{
    width: var(--sqdim);
    height: var(--sqdim);
    border-color: rgb(148, 128, 103);
    border-width: 10px;
    border-style: solid;
    margin-right: 80px;
    margin-bottom: 80px;
    margin-top: 80px;
}
.gta4-content-section{
    margin-top: 100px;
}

.gta4-content-section h1{
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin: 0px;
    font-size: 5vw;
    margin-left:var(--margin-left-for-content);
    /* position: ab; */
    /* text-align: center; */
}

.gta4-content-section p{
    color: rgb(0, 0, 0);
    font-weight: 300;
    margin: 40px;
    margin-left: var(--margin-left-for-content);
    margin-right: var(--margin-left-for-content);
}


#gta5-content{

    display: flex;
    justify-content: center;
    height: auto;
    background-image:url(assets/gtaV/gta5-bg-img.jpg);
    background-color: rgb(53, 53, 53);
    background-blend-mode:overlay;
    background-size: cover;
    background-position: center; 
}
#gta5-content img{
    width: var(--sqdim);
    height: var(--sqdim);
    border-color: rgb(148, 128, 103);
    border-width: 10px;
    border-style: solid;
    margin-right: 80px;
    margin-bottom: 80px;
    margin-top: 80px;
}
.gta5-content-section{
    /* margin: 0px; */
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.516);
    background-blend-mode: color-burn;
    height: fit-content;
    width:fit-content;
    margin-right: 2vw;
    margin-left: 2vw;

    /* paddin; */
}
.gta5-content-section h1{
    color: rgb(255, 255, 255);
    font-weight: 800;
    margin: 0px;
    font-size: 5vw;
    margin-left:var(--margin-left-for-content);
    /* position: ab; */
    /* text-align: center; */
}
.gta5-content-section p{
    color: rgb(255, 255, 255);
    font-weight: 300;
    margin: 40px;
    margin-left: var(--margin-left-for-content);
    margin-right: var(--margin-left-for-content);
}

#battle3-content{
    display: flex;
    justify-content: baseline;
    background-image: url("assets/Battlefield 3/btlfld3-bg-img.jpg");
    
    background-color: rgb(83, 89, 112);
    background-blend-mode:darken;
    background-size: cover;
    background-position: center; 
    /* background-attachment:fixed ; */
}
#battle3-content img{
    width: var(--sqdim);
    height: var(--sqdim);
    border-color: rgba(91, 90, 98, 0.83);
    border-width: 10px;
    border-style: solid;
    margin-right: 80px;
    margin-bottom: 80px;
    margin-top: 80px;
}
.battle3-content-section{
    /* margin: 0px; */
    margin-top: 100px;
}
.battle3-content-section h1{
    color: rgb(255, 255, 255);
    font-weight: 800;
    margin: 0px;
    font-size: 5vw;
    margin-left:var(--margin-left-for-content);
    /* opacity: 0.8; */
    -webkit-text-fill-color:rgba(255, 255, 255, 0.849);
}
.battle3-content-section p{
    color: rgb(255, 255, 255);
    font-weight: 300;
    margin: 40px;
    margin-left: var(--margin-left-for-content);
    margin-right: var(--margin-left-for-content);
}
#fact-content{
    display: flex;
    justify-content: baseline;
    background-color: rgb(125, 115, 89);
    background-image: url(assets/factorio/factorio-bg-img.jpg);
    background-blend-mode:overlay;
}
#fact-content img{
    width: var(--sqdim);
    height: var(--sqdim);
    border-color: rgb(133, 97, 57);
    border-width: 10px;
    border-style: solid;
    margin-right: 80px;
    margin-bottom: 80px;
    margin-top: 80px;
}
.fact-content-section{
    /* margin: 0px; */
    margin-top: 100px;
}
.fact-content-section h1{
    color: rgb(255, 255, 255);
    font-weight: 800;
    margin: 0px;
    font-size: 5vw;
    margin-left:var(--margin-left-for-content);
    /* opacity: 0.8; */
    -webkit-text-fill-color:rgba(255, 255, 255, 0.849);
}
.fact-content-section p{
    color: rgb(255, 255, 255);
    font-weight: 300;
    margin: 40px;
    margin-left: var(--margin-left-for-content);
    margin-right: var(--margin-left-for-content);
}
@media only screen and (min-width:600px){
    #gta-sa-content{
        background-attachment: fixed;
    }
    #gta4-content{
        background-attachment: fixed;
    }
    #gta5-content{
        background-attachment: fixed;
    }
    #battle3-content{
        background-attachment: fixed;
    }
    #fact-content{
        background-attachment: fixed;
    }
    
}


footer {
    background-color: #f0f0f0;
    text-align: center;
}

.footer-content {
    margin-top: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    max-width: auto;
    /* margin: 0 auto; */
    background-color: rgb(0, 0, 0);
}

.footer-section {
    flex: 1;
    padding: 0 20px;
    color: #ffffff;
    font-weight: 300;
    font-size: 1.2vw;
}

.footer-section h3 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
    color: rgb(201, 175, 87);
    font-size: 2vw;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
    
    
}

.footer-bottom p{
    margin: 0px;
    margin-bottom: 0px;
    background-color:#ffffff;
    font-size: 100%;
    font-weight: 300;
    /* padding: 10px 0; */
}
